.map {
	overflow: hidden;
	height: 500px;
	width: 100%;
	background-color: white;
	padding: 1rem;
	border-radius: 20px;
	margin-top: 16px;
	box-shadow: 0 0 8px -4px rgba(255, 255, 255, 0.5);
}

.map .leaflet-container {
	height: 100%;
}

.info-container {
	width: 150px;
}

.info-flag {
	border-radius: 8px;
}
.info-flag img {
	padding-right: 0;
	border: 0;
	vertical-align: middle;
	display: inline-block;
	height: 40px;
}

.info-name {
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #555;
}

.info-confirmed {
	font-size: 16px;
	margin-top: 5px;
}
